NEXT_PUBLIC_APP_ORIGIN=http://127.0.0.1:3000
NEXT_PUBLIC_API_BASE_URL=/api/backend
BACKEND_INTERNAL_API_BASE_URL=http://127.0.0.1:8000/api/v1
NEXT_PUBLIC_OIDC_ISSUER_URL=http://127.0.0.1:8080/realms/nomosmart
NEXT_PUBLIC_OIDC_CLIENT_ID=nomosmart-frontend
NEXT_PUBLIC_OIDC_AUDIENCE=nomosmart-backend
